<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.blog.entity.dto.ShowBlogUserModel">

    <insert id = "insertBlogUser" >
        INSERT test_user(user_name, user_password, phone_number, user_id) VALUES (#{username}, #{age})
    </insert>


</mapper>