<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.blog.testfortestuser.dao.TestUserMapper">

    <insert id = "insertTestUser" >
        INSERT test_user(username, age) VALUES (#{username}, #{age})
    </insert>
    <delete id = "deleteTestUser" >
        DELETE FROM test_user WHERE username = #{username}
    </delete>
    <update id = "updateTestUser" >
        UPDATE test_user SET username = #{username}, age = #{age} WHERE id = #{id}
    </update>
    <select id = "selectUserByName" resultType="TestUser">
        select * from test_user where username = #{username}
    </select>
    <select id = "selectUserById" resultType="TestUser">
        select * from test_user where id = #{id}
    </select>
    <select id = "findAllTestUser" resultType="TestUser">
        select * from test_user
    </select>
    <select id = "countTestUser" resultType="Integer">
        select count(1) from test_user
    </select>

    <select id = "findAllTestUserByNameAge" resultType="TestUser">
        select * from test_user ${sqlData}
    </select>

    <select id = "findAllTestUserByPage" resultType="TestUser">
        select * from test_user LIMIT #{startIndex}, #{pageSize}
    </select>
</mapper>